<body>
  <form action="/poll/<%= adminID %>" method="POST">
      <h3><%= question_title %></h3>

      <div class="individual-question">
          <h4>Option 1</h4>
          <input name="option1" class="option">
          <h4>Description (optional)</h4>
          <input name="option1_description" class="option_description">
      </div>

      <div class="individual-question">
          <h4>Option 2</h4>
          <input name="option2" class="option">
          <h4>Description (optional)</h4>
          <input name="option2_description" class="option_description">
      </div>

      <div class="individual-question">
          <h4>Option 3</h4>
          <input name="option3" class="option">
          <h4>Description (optional)</h4>
          <input name="option3_description" class="option_description">
      </div>

      <!-- Submit button -->
      <div id="buttons">
          <button id="submit-btn" class="btn" type="submit">Submit</button>
      </div>
  </form>

  <!-- Poll results section -->
  <section id="poll-results">
      <h2>Poll Results</h2>
      <ul>
          <% options.forEach((option, index) => { %>
              <li>
                  Option <%= index + 1 %>: <%= option.option_text %>
                  (Votes: <%= option.vote_count %>)
              </li>
          <% }); %>
      </ul>
  </section>

</body>

</html>
